.loader {
    width: 8rem;
    height: 8rem;
    border: 1.6rem solid #f3f3f3;
    border-top: 1.6rem solid #00aeff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    margin: 1rem 0;
}

@keyframes spin {
    0% {
        transform: translate(-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%) rotate(360deg);
    }
}